.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #445566;
  transition: border-color 0.3s ease-in-out;
}

.header:hover {
  border-color: #00fe48;
}
